body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #282c34;
    color: white;
    padding: 20px 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 24px;
    font-weight: 600;
}

main {
    flex: 1;
    padding: 40px;
    background-color: #f5f5f5;
}
.input-box{
    position:relative;
    background: #f5f5f5;
    margin : 20px 0;
}
.input-box .input{
    font-size: 16px;
    height: 28px;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
    background: #f5f5f5;  /* Colore di sfondo uguale al body */
}

.input-box .input:focus{
    border-color: #3679ff;
}
.input-box .label{
    color: #999;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    top: 8px;
    left: 12px;
    display: flex;
}
.input-box .char{
    transition: .2s ease all;
    transition-delay: calc(var(--index)* .05s);
}

/* Quando l'input è a fuoco o non mostra il placeholder (cioè contiene testo),
   sposta in alto ogni carattere della label. Il ritardo per carattere è gestito
   da --index impostata dal JS per creare un effetto a cascata. */
.input-box .input:focus ~ .label .char,
.input-box .input:focus ~ .valid .char,
.input-box .input:not(:placeholder-shown) ~ .label .char{
    transform: translateY(-15px);
    font-size: 14px;
    color: #3679ff;
    background:#f5f5f5;
}